
<ion-content>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-label class="text-center"><h2>Perfil</h2></ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label placeholder="Nombre" type="text" tName disabled>{{tName}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label placeholder="Edad" type="number" disabled>{{nAge}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label placeholder="Nombre usuario" type="text" disabled>{{tNickName}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label placeholder="Correo electronico" type="email" disabled>{{tEmail}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-button (click)="loggOff()">log out </ion-button>
      </ion-row>
    </ion-grid>


  </ion-card-content>
</ion-content>
