<ion-content>

    <img src="../../assets/img/bg.png" alt="">

  <ion-card>

    <ion-card-header>
      <ion-label>
        <h2>Iniciar Sesión</h2>
      </ion-label>
    </ion-card-header>

    <ion-card-content>

      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-input placeholder="Correo electronico" type="email" [(ngModel)]="HaloService.tEmail"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-input placeholder="Contraseña" type="password" [(ngModel)]="HaloService.tPassword"></ion-input>
          </ion-col>

        </ion-row>



        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-button (click)="HaloService.loggin()">Ingresar</ion-button>
          </ion-col>

        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-button (click)="createAcount()">Crear cuenta</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>

  </ion-card>

</ion-content>
