<ion-content>

  <ion-card>

    <ion-card-header>
      <ion-label>
        <h2>Iniciar Sesión</h2>
      </ion-label>
    </ion-card-header>

    <ion-card-content>

      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-input placeholder="Correo electronico" type="email" [(ngModel)]="username"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password"></ion-input>
          </ion-col>

        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-label><a href="#">¿Olvidaste la contraseña?</a></ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-button (click)="iniciarSesion()">Ingresar</ion-button>
          </ion-col>

        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-button>Crear cuenta</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>

  </ion-card>

</ion-content>
